/* AddEmployee.css */

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.add-employee-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 98vh;
  justify-content: center;
}

.add-employee-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.add-employee-form label {
  display: block;
  margin-bottom: 5px;
}

.add-employee-form input[type="text"],
.add-employee-form input[type="email"],
.add-employee-form input[type="password"],
.add-employee-form input[type="date"],
.add-employee-form input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-employee-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.add-employee-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.add-employee-form .error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
